.title{
    color:blue
}

form{
    width: 500px;
   
}

.list{
    border:1px black solid;
    color: green;
}

.buy{
    color:red
}

.buy:hover{
    cursor: pointer;
}

.preview{
    margin-top: 5px;
    padding: 5px;
}

.preview>h3{
    color:brown
}

.preview>h5{
    color:rgb(29, 126, 126)
}